# **DAY 1 - Operators**

bitwise operators

In [2]:
a=10
b=5
print(a&b)
print(a|b)
print(a^b)
print(~a)
print(a>>2)
print(a<<2)

0
15
15
-11
2
40

# **DAY 2 - Precedence & Associtivity, If-else, Pseudocodes**

**One Way Selection**

In [ ]:
amnt =int(input())
if amnt>=500:
  print(amnt+40)

76576
76616

 **Two Way Selection**

In [ ]:
amnt =int(input())
if amnt>=500:
  print(amnt+40)
else:
  print("Free Delivery")

65
Free Delivery

**MultiWay Selection**

In [ ]:
num =int(input())
if num>0:
  print("Positive")
elif num<0:
  print("Negative" )
else:
  print("Zero")

6
Positive

In [ ]:
direction =input("Enter a single character for direction: ")
if direction=="w" or direction=="W":
    print(">>West")
elif direction=="s" or direction=="S":
    print(">>South")
elif direction=="e" or direction=="E":
    print(">>East")
elif direction=="n" or direction=="N":
    print(">>North")
else:
  print("Invalid Input")

Enter a single character for direction: w
>>West

**Sequence Range**

In [ ]:
for i in range(25,10,-2):
  print(i,end=' ')

25 23 21 19 17 15 13 11

In [ ]:
for i in range(50,101,1):
  if i%7==0:
    print(i,end=' ')

56 63 70 77 84 91 98

In [ ]:
for i in range(50,101,1):
  if i%7==0 and i%3==0:
    print(i,end=' ')

63 84

In [ ]:
for i in range(50,101,1):
  if i%7==0 or i%3==0:
    print(i,end=' ')

51 54 56 57 60 63 66 69 70 72 75 77 78 81 84 87 90 91 93 96 98 99

In [ ]:
username="Jasper"
password=1234523
for i in range(3):
  input1=input("Enter username: ")
  input2=int(input("Enter password: "))
  if input1==username and input2==password:
    print("Login Successful!")
    break
  else:
    if i==2:
      print("Authentication Failed. You are blocked for 24 hours.")
    else:
      print("Wrong Password. Authentication Failed. Try again")

Enter username: Jasper
Enter password: 1234523
Login Successful!

In [ ]:
print(60&13)

12

In [ ]:
a=12
b=5
c=8
d=(a**12 - b**5)or (c**8/2)
print(d)

8916100445131

# **DAY 3 - Loops , Strings**

**Problem Statement**

In [ ]:
nmbr=int(input())

**Problem Statement**
Sum of all non prime digits in a number

In [ ]:
nmbr=int(input())
sum =0
while nmbr>0:
  dgt=nmbr%10
  for i in range(2,dgt):
    if nmbr%i==0:
       sum=sum+dgt
  nmbr=nmbr//10
print(sum)

45673
27

Nested Loop

In [ ]:
for i in range(1,4):
  for j in range(1,4):
    print(i, end=' ')
  print()

1 1 1
2 2 2
3 3 3

In [ ]:
for i in range( 1,6):
  for j in range(1,i+1):
    print(j, end=' ')
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
for i in range( 5,0,-1):
  for j in range(1,i+1):
    print(j, end=' ')
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
for i in range(5,0,-1):
  for j in range(i,0,-1):
    print(j, end=' ')
  print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [ ]:
for i  in range(1,6):
  for j in range(1,6):
    print("%2d"%(i*j),"\t", end=' ')
  print()

 1 	  2 	  3 	  4 	  5
 2 	  4 	  6 	  8 	 10
 3 	  6 	  9 	 12 	 15
 4 	  8 	 12 	 16 	 20
 5 	 10 	 15 	 20 	 25

The else Statement Used With Loops

In [ ]:
for num in range(5):
  print(f"Current Number: {num}")
else:
  print("Loop Completed Normally")

Current Number: 0
Current Number: 1
Current Number: 2
Current Number: 3
Current Number: 4
Loop Completed Normally

In [ ]:
for num in range(5):
  print(f"Current Number: {num}")
  if num==3:
    break
else:
  print("Loop Completed Normally")

Current Number: 0
Current Number: 1
Current Number: 2
Current Number: 3

In [ ]:
count =0
while count<10:
  print(f"Current Number: {count}")
  count=count+1
else:
  print("Loop Completed Normally")

Current Number: 0
Current Number: 1
Current Number: 2
Current Number: 3
Current Number: 4
Current Number: 5
Current Number: 6
Current Number: 7
Current Number: 8
Current Number: 9
Loop Completed Normally

In [ ]:
count =0
while count<10:
  print(f"Current Number: {count}")
  count=count+1
  if count>5:
    break
else:
  print("Loop Completed Normally")

Current Number: 0
Current Number: 1
Current Number: 2
Current Number: 3
Current Number: 4
Current Number: 5

In [ ]:
count =0
while count<10:
  print(f"Current Number: {count}")
  count=count+1
  if count>5:
    continue
else:
  print("Loop Completed Normally")

Current Number: 0
Current Number: 1
Current Number: 2
Current Number: 3
Current Number: 4
Current Number: 5
Current Number: 6
Current Number: 7
Current Number: 8
Current Number: 9
Loop Completed Normally

***String***: Series of characters delimited by single, double or even triple quotes.

Multiline String:
3 ways

1.  Ends with\
2.  """some msg""" or '''some msg'''
3. ('one msg'
      '2nd line')

In [ ]:
print("Welcome to \
python \
programing")
print('''some msg
2nd line''')
print("some msg "
      "2nd line")

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-54-ce03a8919aec>, line 1)

In [ ]:
x =5
y =10
z =(x<y) ==True
print(z)

True

In [ ]:
name="Amarlapudi Jasper"
print(name[-6:-2])
print(name[-8:-12:-1])
print(name[-14:-11])
print(name[3:-11])
print(name[11:-2])

Jasp
idup
rla
rla
Jasp

In [ ]:
str1="Jasper"
print(str1.isalpha())
str2="12412"
print(str2.isdigit())
print(str2.isalnum())
print(str1.isdigit() )
str3="Jasper123"
print(str3.isalnum())
str4="jasper"
print(str4.islower())
str5="JASPER"
print(str5.isupper())
str6="Jasper"
print(str6.startswith("J"))
print(str6.endswith("r "))

True
True
True
False
True
True
True
True
False

In [ ]:
s="Welcome to Python programming"
print(s.find("Python",0,10)) #it is not present within given range so it prints -1
print(s.find("Python"))
print(s.replace("P","p"))

-1
11
Welcome to python programming

In [ ]:
ord('a')

97

In [ ]:
for i in range(0,128):
  print(i,' -->', chr(i),end='\n')

0  -->  
1  --> 
2  --> 
3  --> 
4  --> 
5  --> 
6  --> 
7  --> 
8  --> 
9  -->
10  -->

11  -->
12  -->
13  -->
14  --> 
15  --> 
16  --> 
17  --> 
18  --> 
19  --> 
20  --> 
21  --> 
22  --> 
23  --> 
24  --> 
25  --> 
26  --> 
27  --> 
28  -->
29  -->
30  -->
31  -->
32  -->
33  --> !
34  --> "
35  --> #
36  --> $
37  --> %
38  --> &
39  --> '
40  --> (
41  --> )
42  --> *
43  --> +
44  --> ,
45  --> -
46  --> .
47  --> /
48  --> 0
49  --> 1
50  --> 2
51  --> 3
52  --> 4
53  --> 5
54  --> 6
55  --> 7
56  --> 8
57  --> 9
58  --> :
59  --> ;
60  --> <
61  --> =
62  --> >
63  --> ?
64  --> @
65  --> A
66  --> B
67  --> C
68  --> D
69  --> E
70  --> F
71  --> G
72  --> H
73  --> I
74  --> J
75  --> K
76  --> L
77  --> M
78  --> N
79  --> O
80  --> P
81  --> Q
82  --> R
83  --> S
84  --> T
85  --> U
86  --> V
87  --> W
88  --> X
89  --> Y
90  --> Z
91  --> [
92  --> \
93  --> ]
94  --> ^
95  --> _
96  --> `
97  --> a
98  --> b
99  --> c
100  --> d
101  --> e
102  --> f
103  --> g
104  --> h
105  --> i
106  --> j
107  --> k
108  --> l
109  --> m
110  --> n
111  --> o
112  --> p
113  --> q
114  --> r
115  --> s
116  --> t
117  --> u
118  --> v
119  --> w
120  --> x
121  --> y
122  --> z
123  --> {
124  --> |
125  --> }
126  --> ~
127  --> 

In [ ]:
name ="Jasper"
for i in name:
  print( ord(i) )

74
97
115
112
101
114

In [ ]:
def remove_last_n_chars(string, n):
    return string[:-n]

print(remove_last_n_chars("Programming", 3))  # Output: Programmi

Programm

# **DAY 4 - Lists & Tuples**

**List:** combination of comma seperated different elements or items, enclosed in square brackets, it is zero-indexed

In [ ]:
lst=[23,43,"jasper",34.23,True]
print(lst)
print(type(lst))

[23, 43, 'jasper', 34.23, True]
<class 'list'>

In [ ]:
lst1 = [10,20,30 ]
lst2 = [40,50,60 ]
lst3 = lst1+lst2 #concatenation
print(lst3)
print(lst1*3) #repetition

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 10, 20, 30, 10, 20, 30]

Accessing values by using slice operations: same as string concept

Built-in *Functions*


1.   len
2.   max
3. min
4. sum
5. any: if any elt is True: returns True
6. all: if all elts are true: returns True
7. sorted: returns sorted list, list remains unchanged
8. reversed: used for reversing the list. it gives result

In [ ]:
print(len(lst))
print(min(lst1))
print(max(lst2))
print(sum(lst2))
print(any(lst1))
print(sorted(lst1))
print(reversed(lst1))
print(list(reversed(lst1)))
print(all(lst1))

5
10
60
150
True
[10, 20, 30]
<list_reverseiterator object at 0x7f515de05120>
[30, 20, 10]
True

**Methods**
1. append(): add an element to end of the list
modifies the original list and does nt return a new list
2. count(): counts the number of occurences of an element in a list, if elt is not present it prints 0
3. index() : find the index of an elt, if elt is not present it throws ValueError
4. insert(): insert an elt at a specified position within a list, take two parameter: first parameter: index, second parameter: elt
5. pop(): remove and return elt from a specified index in a list
6. sort(): sorts in ascending order
7. extend(): add the elements of an iterable such as a list, tuple, or another iterable to the end of an existing list.
8. remove(): removes the specified elt not based on index like in pop . if not present throws value error
9. reverse(): reverse the order of elements in a list. it changes permanently
10. copy():
11. clear(): removes all elts and makes list empty. doesn't return anything


---

 dir(list)
 help(k.append)

In [ ]:
k= [10,20,30,10,23,20,30,10 ]
print(k.count(10))
print(k.index(30))
print(k.index(30,2)) #includes 2
#print(k.index(30,1,2)) #2 is excluded throws error
print(k.index(30,2,6))
k.insert(2,'J')
print(k)
k.insert(9,'A')
print(k)
k.insert(21,'S') #inserts at 10 at end
print(k)
k.insert(-2,'P')
print(k)
k.insert(-21,'E') #insert in at beginning
print(k)
k.pop() #returns deleted value
#print(k)
k.pop(3)
print(k)
#k.pop(33) #throws error

3
2
2
2
[10, 20, 'J', 30, 10, 23, 20, 30, 10]
[10, 20, 'J', 30, 10, 23, 20, 30, 10, 'A']
[10, 20, 'J', 30, 10, 23, 20, 30, 10, 'A', 'S']
[10, 20, 'J', 30, 10, 23, 20, 30, 10, 'P', 'A', 'S']
['E', 10, 20, 'J', 30, 10, 23, 20, 30, 10, 'P', 'A', 'S']
['E', 10, 20, 30, 10, 23, 20, 30, 10, 'P', 'A']

In [ ]:
J= [44,22,11,55,33]
print(J)
J.sort()
print(J)

[44, 22, 11, 55, 33]
[11, 22, 33, 44, 55]

In [ ]:
J=[11,22]
L=[33,44]
J.extend(L)
print(J)
print(L)

[11, 22, 33, 44]
[33, 44]

In [ ]:
print(k)
k.remove(30)
print(k)
#k.remove(30) #throws error

['E', 10, 20, 10, 23, 20, 30, 10, 'P', 'A']
['E', 10, 20, 10, 23, 20, 10, 'P', 'A']

In [ ]:
print(k)
k.reverse()
print(k)

['E', 10, 20, 10, 23, 20, 10, 'P', 'A']
['A', 'P', 10, 20, 23, 10, 20, 10, 'E']

In [ ]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
help(k.clear)

Help on built-in function clear:

clear() method of builtins.list instance
    Remove all items from list.

In [ ]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

Cloning Lists: cloning allows you to work with a copy of the data without affecting the original list.
slice operation is used to clone a list.

In [ ]:
k=[ 11,22,33,44,55]
v= k[:]
id(k)
id(v)
k.pop()
print(v)
print(k)

[11, 22, 33, 44, 55]
[11, 22, 33, 44]

Looping in lists

In [ ]:
lst=[11,22,33,44,55]
for i in lst:
  print(i,end=' ')
print()
ind =0
while ind<len(lst):
  print(lst[ind],end=' ')
  ind=ind+1

11 22 33 44 55
11 22 33 44 55

**Using the enumerate and range functions**

In [ ]:
lst=[11,22,33,44,55]
for i,j in enumerate(lst):
  print(i,j)

0 11
1 22
2 33
3 44
4 55

List Comprehension

In [ ]:
lst=[1,2,3,4,5]
dbllst=[i**2 for i in lst]
print(dbllst)

[1, 4, 9, 16, 25]

In [ ]:
lst=[-1,2,-3,4,5]
pstvlst=[i for i in lst if i>0]
print(pstvlst)

[2, 4, 5]

In [ ]:
lst=[-1,2,-3,4,5]
oddlst=[i for i in lst if i%2!=0]
print(oddlst)

[-1, -3, 5]

Read values into a list

In [ ]:
lst=[ ]
noe =int(input("Enter number of elements: "))
for i in range(noe):
  elt=int(input("Enter element: "))
  lst.append(elt)
print(lst)

Enter number of elements: 5
Enter element: 13
Enter element: 435
Enter element: 23
Enter element: 45
Enter element: 23
[13, 435, 23, 45, 23]

using while loop

In [ ]:
lst=[ ]
ele =int(input("Enter element: "))
ind=0
while ele!=0:
  lst.append(elt)
  ele=int(input("Enter element: "))

print(lst)

Enter element: 3
Enter element: 2
Enter element: 2
Enter element: 7
Enter element: 3
Enter element: 0
[23, 23, 23, 23, 23]

create a program that takes a new list and returns a new list contatining only the unique elements from the original list

In [ ]:
lst=[10,20,20,30,40,40,50 ]
newlst=[ ]
for i in lst :
  if i not in newlst:
    newlst.append(i)
print(f"Original list: {lst}")
print(f"New list: {newlst}")

Original list: [10, 20, 20, 30, 40, 40, 50]
New list: [10, 20, 30, 40, 50]

create a program that takes a list and returns two new lists, first list containing positive numbers. second list containing negative numbers.

In [ ]:
lst=[-10,20,-20,30,-40,40,-50 ]
pstvlst =[ ]
ngtvlst=[ ]
for i in lst:
  if i>0:
    pstvlst.append(i)
  elif i<0:
    ngtvlst.append(i)
print(f"Original list: {lst}")
print(f"Positive list: {pstvlst}")
print(f"Negative list: {ngtvlst}")
print(len(lst))
print(len(pstvlst))
print(len(ngtvlst))

Original list: [-10, 20, -20, 30, -40, 40, -50]
Positive list: [20, 30, 40]
Negative list: [-10, -20, -40, -50]
7
3
4

In [ ]:
alst=['a','b','c','d','e','f','g','h','i','j' ]
nmbr=int(input( ))

bc=' '
while nmbr>0:
  dgt=nmbr%10
  bc= alst[dgt] + bc
  nmbr=nmbr//10

print(bc)

1039
badj

In [ ]:
nmlst=[]
acnlst=[]
trnslst=[]
ch='y'
while ch=='y':
    nm=input("Enter name: ")
    nmlst.append(nm)
    while True:
        acno=int(input("Enter acno: "))
        cacno=int(input("Confirm acno:"))
        if acno==cacno:
            break
        else:
            print("Invalid acno,try again")
    acnlst.append(acno)
    tl=int(input("Enter tl: "))
    trnslst.append(tl)
    ch=input("Do u want to continue? press y/n:")
    if ch=='y':
        continue
    break

print("Name\tA\C No\tTransferLimit")
print('-'*30)
for i in range(len(nmlst)):
    print(nmlst[i],"\t",acnlst[i],"\t",trnslst[i],"\t")
    print()

Enter name: jasper
Enter acno: 1234
Confirm acno:1234
Enter tl: 543
Do u want to continue .press y/n:y
Enter name: laxmi
Enter acno: 345
Confirm acno:345
Enter tl: 543
Do u want to continue .press y/n:n
Name	A\C No	TransferLimit
------------------------------
jasper 	 1234 	 543

laxmi 	 345 	 543

**Tuple**
Similar to lists, but differs in two things.
1. Sequence of comma-seperated elements between parenthesis
2. immutable objects


---


Syntax:  tuplevar=(val1,val2,val3,..valn)

In [ ]:
tpl =(11,22,'K','V',True,False)
print(tpl)

(11, 22, 'K', 'V', True, False)

Accessing in tuple: name of a tuple, indices, slice operation

Looping in a tuple:

In [ ]:
tpl=(11,22,33,44,55)
for i in tpl:
  print(i,end=' ')
print()
ind=0
while ind<len(tpl):
  print(tpl[ind],end=' ')
  ind=ind+1
print()
for i in range(len(tpl)):
  print(tpl[i],end=' ')

11 22 33 44 55
11 22 33 44 55
11 22 33 44 55

Tuple operations:
1. immutable
2. cant modify or delete individual elements
3. can use 'del' to delete entire tuple
4. tuple can have lists as its elements to make it mutable
5. nested tuples

Tuple Assignment:
1. tuple to tuple: (x, y)=(10,20
2.

Unpack a tuple:
1. use * operator, for unpacking elts of a tuple into a individual elts

In [ ]:
k=(11,22,33,44 )
print(k)
s=(1,2,k,3,4)
print(s)
s=(1,2,*k,3,4)
print(s)

(11, 22, 33, 44)
(1, 2, (11, 22, 33, 44), 3, 4)
(1, 2, 11, 22, 33, 44, 3, 4)

In [ ]:
t=(22,5)
#d,m=divmod(t) #throws error
d,m=divmod(*t)
print(d);print(m)

4
2

Packing into a tuple:
packing refers to the process of collecting multiple values into a single tuple.

In [ ]:
k=11,22,19
print(k)
#k,v=11,22,19 #throws value error

(11, 22, 19)

In [ ]:
*k,v=11,22,19
print(k)
print(v)

[11, 22]
19

In [ ]:
k,*v=11,22,19
print(k)
print(v)

11
[22, 19]

In [ ]:
*f,s,t=(11,22,33,44,55)
print(f)
print(s)
print(t)
print(f,s,t)

[11, 22, 33]
44
55
[11, 22, 33] 44 55

Disposable variable _: used to ignore

In [ ]:
f,*_,l=(11,22,33,44,55)
print(f );print(l);print(_)

11
55
[22, 33, 44]

Built-in functions on tuples: same as lists

Attributes and methods of Tuple

In [ ]:
dir(tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

zip() Function:
1. The zip() function takes multiple iterables (such as lists, tuples, or any other sequences ) and aggregates them elt-wise into a single iterator.
2. It returns an iterator of tuples where the ith tuple cntains the ith elt from eachof input iterables

In [ ]:
plyrs=[ "kohli","rohit"]
jrsys= [18,45 ]
tm =list(zip(plyrs,jrsys))
print(tuple(tm))
print(list(tm))

(('kohli', 18), ('rohit', 45))
[('kohli', 18), ('rohit', 45)]

In [ ]:
nmtpl=( )
acntpl= ()
trnstpl= ()
nmlst = list(nmtpl)
acnlst = list(acntpl)
trnslst = list(trnstpl)
ch='y'
while ch=='y':
    nm=input("Enter name: ")

    nmlst.append(nm)
    while True:
        acno=int(input("Enter acno: "))
        cacno=int(input("Confirm acno:"))
        if acno==cacno:
            break
        else:
            print("Invalid acno,try again")

    acnlst.append(acno)
    tl=int(input("Enter tl: "))

    trnslst.append(tl)
    ch=input("Do u want to continue? press y/n:")
    if ch=='y':
        continue
    break
print(trnslst)
print(acnlst)
print(nmlst)
trnstpl=tuple(trnslst)
acntpl=tuple(acnlst)
nmtpl=tuple(nmlst)
print("Name\tA\C No\tTransferLimit")
print('-'*30)
for i in range(len(nmtpl)):
    print(nmtpl[i],"\t",acntpl[i],"\t",trnstpl[i],"\t")
    print()

Enter name: jasper
Enter acno: 123
Confirm acno:123
Enter tl: 234
Do u want to continue? press y/n:y
Enter name: laxmi
Enter acno: 234
Confirm acno:234
Enter tl: 6
Do u want to continue? press y/n:n
[234, 6]
[123, 234]
['jasper', 'laxmi']
Name	A\C No	TransferLimit
------------------------------
jasper 	 123 	 234

laxmi 	 234 	 6

In [ ]:

grocery_items = [
    ("Apples", 3.5), ("Oranges", 2.0), ("Cucumbers", 1.8),
    ("Eggs (dozen)", 4.5), ("Dates", 5.0)
]
cart = []

while True:
    print("\n1. View Items\n2. Add to Cart\n3. View Cart\n4. Generate Bill\n5. Exit")
    choice = int(input("\nEnter choice: "))

    if choice == 1:
        print("\nItem         Price/unit")
        for i, (item, price) in enumerate(grocery_items, 1):
            print(str(i) + ". " + item.ljust(10) + " ₹" + str(price).rjust(6))

    elif choice == 2:
        for i, (item, price) in enumerate(grocery_items, 1):
            print(str(i) + ". " + item.ljust(10) + " ₹" + str(price).rjust(6))
        choice = int(input("\nEnter item number: ")) - 1
        if 0 <= choice < len(grocery_items):
            quantity = int(input("Enter quantity: "))
            cart.append((grocery_items[choice][0], grocery_items[choice][1], quantity))
            print(grocery_items[choice][0] + " added!")

    elif choice == 3:
        if cart:
            print("\nItem         Price/unit  Quantity")
            for item, price, quantity in cart:
                print(item.ljust(10) + " ₹" + str(price).rjust(6) + " " + str(quantity).rjust(10))
        else:
            print("\nCart is empty.")

    elif choice == 4:
        if cart:
            total = 0
            print("\nItem         Price/unit  Quantity    Total")
            for item, price, quantity in cart:
                item_total = price * quantity
                total += item_total
                print(item.ljust(10) + " ₹" + str(price).rjust(6) + " " + str(quantity).rjust(10) + " ₹" + str(item_total).rjust(6))
            print("\nTotal Bill: ₹" + str(total).rjust(6))
        else:
            print("\nCart is empty.")

    elif choice == 5:
        print("Thank you for shopping!")
        break
    else:
        print("Invalid choice!")

1. View Items
2. Add to Cart
3. View Cart
4. Generate Bill
5. Exit

Enter choice: 1

Item         Price/unit
1. Apples     ₹   3.5
2. Oranges    ₹   2.0
3. Cucumbers  ₹   1.8
4. Eggs (dozen) ₹   4.5
5. Dates      ₹   5.0

1. View Items
2. Add to Cart
3. View Cart
4. Generate Bill
5. Exit

Enter choice: 2
1. Apples     ₹   3.5
2. Oranges    ₹   2.0
3. Cucumbers  ₹   1.8
4. Eggs (dozen) ₹   4.5
5. Dates      ₹   5.0

Enter item number: 5
Enter quantity: 2
Dates added!

1. View Items
2. Add to Cart
3. View Cart
4. Generate Bill
5. Exit

Enter choice: 2
1. Apples     ₹   3.5
2. Oranges    ₹   2.0
3. Cucumbers  ₹   1.8
4. Eggs (dozen) ₹   4.5
5. Dates      ₹   5.0

Enter item number: 3
Enter quantity: 3
Cucumbers added!

1. View Items
2. Add to Cart
3. View Cart
4. Generate Bill
5. Exit

Enter choice: 3

Item         Price/unit  Quantity
Dates      ₹   5.0          2
Cucumbers  ₹   1.8          3

1. View Items
2. Add to Cart
3. View Cart
4. Generate Bill
5. Exit

Enter choice: 4

Item         Price/unit  Quantity    Total
Dates      ₹   5.0          2 ₹  10.0
Cucumbers  ₹   1.8          3 ₹   5.4

Total Bill: ₹  15.4

1. View Items
2. Add to Cart
3. View Cart
4. Generate Bill
5. Exit

Enter choice: 5
Thank you for shopping!

# **DAY 5 - Sets & Dictionaries**

Sets:

In [ ]:
s= {} #default: dictionary
print(type(s))

<class 'dict'>

In [ ]:
s =set() #correct way to initialize empty set
print(type(s))

<class 'set'>

we never write exected output for set, because this is unordered collectioin

In [ ]:
k={1122,2192,22191,' k v ',True,1122}
print(k)
v={1122,2192,22191, True, 1122, ' k v '}
print(v)

{2192, ' k v ', 1122, True, 22191}
{2192, True, 1122, ' k v ', 22191}

In [ ]:
j={2005, True, 18}
print(j)

{True, 18, 2005}

we can use tuples and strings in set but not lists

In [ ]:
l={1, 5, (2,True),'a'}
print(l)

{1, 5, 'a', (2, True)}

In [ ]:
a={1,5, [ 2, True],'a'}
print(a) #throws type error

TypeError: unhashable type: 'list'

accessing element in set: loops , no indices  or slice operations

In [ ]:
print(l[ 0]) #raises type error

TypeError: 'set' object is not subscriptable

In [ ]:
st={11,22,33,44,55}
for i in st:
  print(i, end=' ')

33 22 55 11 44

In [ ]:
st={11,22,33,44,55}
for i,j in enumerate(st):
  print(i,j, end=' ')
  print()

0 33
1 22
2 55
3 11
4 44

Methods:
1. add

In [ ]:
l.add(2000)
print(l)

{1, 5, (2, True), 'a', 2000}

2. copy

3. clear: there  is memory but no elements

4. discard

In [ ]:
l.discard(18)
print(l)
l.discard(55)
print(l)

{1, 5, (2, True), 'a', 2000}
{1, 5, (2, True), 'a', 2000}

In [ ]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

5. pop

In [ ]:
l.pop()
print(l)

{5, (2, True), 'a', 2000}

6. remove

In [ ]:
l.remove(18)
print(l)

KeyError: 18

7. update in list its extend

In [ ]:
st={11,22,33,44,55}
print(st)
st1={66,77}
st.update(st1)
print(st)
print(st1)

{33, 22, 55, 11, 44}
{33, 66, 22, 55, 11, 44, 77}
{66, 77}

8. union: ignores dups follows basic property of sets

In [ ]:
print(st.union(st1))
print(st1)

{33, 66, 11, 44, 77, 22, 55}
{66, 77}

TypeError: unsupported operand type(s) for |: 'set' and 'int'

9. intersection

In [ ]:
a={11,22,33}
b= {22,44,11,55}
print(a.intersection(b))
print(a)

{11, 22}
{33, 11, 22}

10. intersection update

In [ ]:
print(a.intersection_update(b))
print(a)

None
{11, 22}

11. difference

In [ ]:
k={33,22,11,44}
v = {33,66,44,55}
k.difference(v)

{11, 22}

In [ ]:
j ={23,43,12,23,44}
a ={23,12,65,33}
b=j-a
print(b)

{43, 44}

In [ ]:
j ={23,43,12,23,44}
a ={23,12,65,33}
j.difference(a)

{43, 44}

12. difference update

In [ ]:
j ={23,43,12,23,44}
a ={23,12,65,33}
j.difference_update(a)
print(j)

{43, 44}

13. symmetric difference

In [ ]:
j ={23,43,12,23,44}
a ={23,12,65,33}
print(j.symmetric_difference(a))
print(j)

{65, 33, 43, 44}
{43, 12, 44, 23}

14.  symmetric difference update

In [ ]:
print(j.symmetric_difference_update(a))
print(j)

None
{65, 33, 43, 44}

15. isdisjoint

In [ ]:
j ={23,43,12,23,44}
a ={23,12,65,33}
print(j.isdisjoint(a))
print(j)

False
{43, 12, 44, 23}

16. issubset

In [ ]:
print(j.issubset(a))
print(j)

False
{43, 12, 44, 23}

17. issuperset

In [ ]:
print(j.issuperset(a))
print(j)

False
{43, 12, 44, 23}

Attributes and methods

In [ ]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

Application on set:

In [ ]:
students={'jasper','laxmi','varshitha','amrutha','sathwika'}
courses = {'maths','english','science','social','python'}
enrolled_students=set()
enrolled_students.add('jasper' )
enrolled_students.add('laxmi' )
enrolled_students.add('vashitha' )
enrolled_students.add('amrutha' )
enrolled_students.add('sathwika'  )
for students  in enrolled_students:
  print(f"{students}-{courses}")

jasper-{'python', 'english', 'social', 'maths', 'science'}
laxmi-{'python', 'english', 'social', 'maths', 'science'}
sathwika-{'python', 'english', 'social', 'maths', 'science'}
amrutha-{'python', 'english', 'social', 'maths', 'science'}
vashitha-{'python', 'english', 'social', 'maths', 'science'}

In [ ]:

p1=[ ]
noe1 =int(input("Enter number of movies liked by first person: "))
for i in range(noe1):
  elt1= input("Enter movie: ")
  p1.append(elt1)
p2=[ ]
noe2 =int(input("Enter number of movies liked by second person: "))
for i in range(noe2):
  elt2=  input("Enter movie: ")
  p2.append(elt2)
'''p1={'titanic','dots','goblin','vincenzo','hi nanna','amaran','bahubali'}
p2={'goblin','when the phone rings','family by choice','amaran','dussehra'}
p1.add('space sweepers')
p2.add('queen of tears')'''
p1=set(p1)
p2=set(p2)
c='y'

while c =='y'  or c =='Y':
  print("0. commonly liked movies")
  print("1. liked by 1st person")
  print("2. liked by 2nd person")
  print("3. total unique movies liked by both")
  print("4. add movies to first person movie list")
  print("5. add movies to second person movie list")
  ch=int(input("Enter your choice:(0-3): "))
  if ch==0:
    print(f"Commonly liked movies: {p1.intersection(p2)}")
  elif ch==1:
    print(f"Liked by only one  1st person: {p1.difference(p2)}")
  elif ch==2:
    print(f"Liked by only one  2nd person: {p2.difference(p1)}")
  elif ch==3:
    print(f"Total unique movies liked by both: {p1.symmetric_difference(p2)}")
  elif ch==4:
    m1=input("Enter movie: ")
    p1.add(m)
    print(f"Updated movie list of first person: {p1}")
  elif ch==5:
    m2=input("Enter movie: ")
    p2.add(m)
    print(f"Updated movie list of 2nd person: {p2}")
  c=input('Do you want to continue? press y/n: ')

Enter number of movies liked by first person: 3
Enter movie: amaran
Enter movie: vincenzo
Enter movie: goblin
Enter number of movies liked by second person: 3
Enter movie: s34
Enter movie: 56
Enter movie: 435
0. commonly liked movies
1. liked by 1st person
2. liked by 2nd person
3. total unique movies liked by both
4. add movies to first person movie list
5. add movies to second person movie list
Enter your choice:(0-3): 6
Do you want to continue? press y/n: n

In [ ]:
usr_lst=[]
movie_lst=[]
while True:
    choice=int(input("Enter your choice:"))
    if choice==1:
        usr_nm=input("Enter user name:")
        usr_lst.append(usr_nm)
    elif choice==2:
        usr_nm=input("Enter user name:")
        if usr_nm in usr_lst:
            movie_nm=input("Enter movie names:")
            ml=set(movie_nm.split())
            print(ml)
        else:
            print("user does not exist.create new user")
            ch=1
    elif choice==3:
        print(usr_lst)
        continue

Enter your choice:1
Enter user name:jasper
Enter your choice:2
Enter user name:ja
user does not exist.create new user
Enter your choice:kh

ValueError: invalid literal for int() with base 10: 'kh'

**Dictionary**

create empty dictionary

In [ ]:
d={}
type(d)
print(type(d))

<class 'dict'>

Dictionary Properties

In [ ]:
d3={'k':'1','z':'22','v':'11'}
print(d3)

{'k': '1', 'z': '22', 'v': '11'}

In [ ]:
d4={'k':'11','z':'22','k':'19'}
print(d4)

{'k': '19', 'z': '22'}

In [ ]:
d4={'k':'11','z':'22','k':'11'}
print(d4)

{'k': '11', 'z': '22'}

In [ ]:
d2 = {'a':'65','z':'26','s':'j','pi':3.14}
print(d2)

{'a': '65', 'z': '26', 's': 'j', 'pi': 3.14}

In [ ]:
d2[ 'jasper']='amarlapudi'
print( d2)

{'a': '65', 'z': '26', 's': 'j', 'pi': 3.14, 'jasper': 'amarlapudi'}

In [ ]:
print(d2)

{'a': '65', 'z': '26', 's': 'j', 'pi': 3.14}

In [ ]:
d2.clear()
print(d2)
print(type(d2))

{}
<class 'dict'>

In [ ]:
del(d2)

Nested dictionary

In [ ]:
plyrs={'p1':{'nm':'rohit','jrsy':45},
       'p2':{'nm':'kohli','jrsy':18}
       }
for n,j in plyrs.items():
  print(n,j)

p1 {'nm': 'rohit', 'jrsy': 45}
p2 {'nm': 'kohli', 'jrsy': 18}

Methods
1. fromkeys

In [ ]:
kys=[ 'k','v','s']
vls =1122
dct=dict.fromkeys(kys,vls)
print(dct)

{'k': 1122, 'v': 1122, 's': 1122}

In [ ]:
dct=dict.fromkeys(kys )
print(dct)

{'k': None, 'v': None, 's': None}

2. get

In [ ]:
d={'k':11,'v':22,'s':19}
print(d.get('k',-1))
print(d.get('z',-1))

11
-1

keys

In [ ]:
d={'k':11,'v':22,'s':19}
for i in d.keys():
  print(i,end=' ')

k v s

In [ ]:
d={'k':11,'v':22,'s':19}
for i in d :
  print(i,end=' ')

k v s

values

In [ ]:
d={'k':11,'v':22,'s':19}
for i in d.values():
  print(i,end=' ')

11 22 19

items

In [ ]:
d={'k':11,'v':22,'s':19}
for i in d.items():
  print(i,end=' ')

('k', 11) ('v', 22) ('s', 19)

enumerate

In [ ]:
for i,(j,k) in enumerate(d.items()):
  print(i ,j,k)

0 k 11
1 v 22
2 s 19

pop

popitem

update

setdefault

copy

clear

In [ ]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

write a program that reads a string from the keyboard and creates dictionary containing frequency of each character occuring in the string

In [ ]:
name=input()
freq={}
for elt in name:
  if elt in freq:
    freq[elt]+=1
  else:
    freq[elt]=1
print(freq)

laxmiprasanna
{'l': 1, 'a': 4, 'x': 1, 'm': 1, 'i': 1, 'p': 1, 'r': 1, 's': 1, 'n': 2}

create a dictionary  of 3 usernames and passwords. receive the username and passwords from keyboard and search for them in the dictionary . print appropriate message on the screen based on whether a match is found or not.

In [ ]:
dct={'jasper':12345,'laxmi':34567,'prasanna':56789}
un=input("Enter username: ")
pw=int(input("Enter password: "))
if dct.get(un)==pw:
  print("login successful")
else:
  print("login failed")

Enter username: jasper
Enter password: 12345
login successful

In [ ]:
person = {
    "name": "Jasper",
    "country": "India"
}

# Access and print each value using its key
print("Name:", person["name"])

print("Country:", person["country"])

Name: Jasper
Country: India

In [ ]:
person["City"] = "Warangal"
print(person)

{'name': 'Jasper', 'country': 'India', 'City': 'Warangal'}

In [ ]:
key = "City"
if key in person:
    print(f"The key '{key}' exists. Value: {person[key]}")
else:
    print(f"The key '{key}' does not exist.")

The key 'City' exists. Value: Warangal

In [ ]:
for key, value in person.items():
    print(f"{key}: {value}")

name: Jasper
country: India
City: Warangal

In [ ]:
person = {
    "name": "Jasper",
    "country": "India",
    "City":"Warangal"
}
print(person)


# Add a new key-value pair for "City"
person["City"] = "Warangal"
del person["City"]

# Print the dictionary after removal
print(person)

# Alternatively, remove using 'pop()'
removed_value = person.pop("country")
print(f"Removed value: {removed_value}")
print(person)

{'name': 'Jasper', 'country': 'India', 'City': 'Warangal'}
{'name': 'Jasper', 'country': 'India'}
Removed value: India
{'name': 'Jasper'}

# **DAY 6 -  Functions & Recursive Functions**

Functions

with parameters and with return type:

In [ ]:
def add(n1,n2): #function called #formal parameters
  sm=n1+n2
  return sm
nmbr1=float(input("Enter first number: "))
nmbr2=float(input("Enter second number: "))
rs=add(nmbr1,nmbr2) #fun call #actual parameters
print(f"The sum  %.2f and  %.2f is   %.2f  "%(nmbr1,nmbr2,rs))

Enter first number: 10.5
Enter second number: 5.0
The sum  10.50 and  5.00 is   15.50

with parameters and without return type

In [ ]:
def add(n1,n2): #function called #formal parameters
  sm=n1+n2
  print(f"The sum  %.2f and  %.2f is   %.2f  "%(n1,n2,sm))
nmbr1=float(input("Enter first number: "))
nmbr2=float(input("Enter second number: "))
add(nmbr1,nmbr2)

Enter first number: 10.5
Enter second number: 5.0
The sum  10.50 and  5.00 is   15.50

without parameters and without return type

In [ ]:
def add():
  n1=float(input("Enter first number: "))
  n2=float(input("Enter second number: "))
  rs=n1+n2
  print(f"The sum  %.2f and  %.2f is   %.2f  "%(n1,n2,rs))
add()

Enter first number: 10.5
Enter second number: 5.0
The sum  10.50 and  5.00 is   15.50

without parameters and with return type

In [ ]:
def add():
  n1=float(input("Enter first number: "))
  n2=float(input("Enter second number: "))
  sm=n1+n2n1
  return sm
rs=add()
print(f"The sum is   %.2f  "%( rs))

Enter first number: 10.5
Enter second number: 5.0
The sum is   15.50

In [ ]:
def name():
  nm=input("Enter name: ")
  print("Your name: ",nm)
def rno():
  rn= input("Enter roll number: ")
  print("Your roll no.: ",rn)
name()
rno()

Enter name: jasper
Your name:  jasper
Enter roll number: 2203a51535
Your roll no.:  2203a51535

In [ ]:
def nm():
  pass
nm #no error

local variables vs global variables

In [ ]:
n1=1122
def show():
  n1=2191
  n2=22191
  print(n1)
  print(n2)
show()
print(n1)
#print(n2) #raises NameEroror

2191
22191
1122

In [ ]:
n1=1122
def show():
  global n2
  n2=2191
  n3=22191
  print(n1)
  print(n2)
  print(n3)
show()
print(n1)
print(n2)

1122
2191
22191
1122
2191

types of arguments
1. positional arguments

In [ ]:
def details(n,r):
  print(n.upper(),r)
nm='k v'
rnk=1122
details(nm,rnk)

K V 1122

In [ ]:
def details(n,r):
  print(n.upper(),r)
nm='k v'
rnk=1122
details(rnk,nm) #raises error

AttributeError: 'int' object has no attribute 'upper'

In [ ]:
def details(n):
  print(n.upper(),r)
nm='k v'
rnk=1122
details(rnk,nm)

TypeError: details() takes 1 positional argument but 2 were given

In [ ]:
def details(n,r):
  print(n.upper(),r)
nm='k v'
rnk=1122
details(nm )

TypeError: details() missing 1 required positional argument: 'r'

2. keyword arguments

4. variable length keyword arguments

In [ ]:
def printit(**kwargs):
  print()
  for name, value in kwargs.items():
    print(name,value,end=' ')
printit(a=10)
printit(a=10,b=3.14)
printit(a=10,b=3.14,c='jasper')

a 10
a 10 b 3.14
a 10 b 3.14 c jasper

5. default arguments

In [ ]:
def dsply(nm, crs='BTech'):
  print('Name: '+nm)
  print('Course: '+crs)
dsply(nm='jasper')
dsply(crs='MCA',nm='laxmi')

Name: jasper
Course: BTech
Name: laxmi
Course: MCA

documentation strings

In [ ]:
def cb(x):
  '''Cube of a number'''
  return x**3

print(cb.__doc__)
cb(5)

Cube of a number

125

In [ ]:
def pca(l1,l2):
  print(l1,l2)
lst=[11,22,33,44]
tpl=(55,66,77,)
pca(lst,tpl)

[11, 22, 33, 44] (55, 66, 77)

In [ ]:
def fn1(x):
  return x+2
def fn2(y):
  print(y)
fn2(fn1(5))

7

 inner functions

In [ ]:
def outerfunc():
  def innerfunc():
    print('welcome to python')
  innerfunc()
outerfunc()

welcome to python

recursive functions

In [ ]:
def gcdrec(n1,n2):
  if n2==0:
    return n1
  else:
    return gcdrec(n2,n1%n2)
num1=48
num2=18
result=gcdrec(num1,num2)
print(f"GCD of {num1} and {num2} is: {result}")

GCD of 48 and 18 is: 6

In [ ]:
def gcd(n1,n2):
  while n2!=0:
    n1,n2=n2,n1%n2
  return n1
num1=48
num2=18
result=gcdrec(num1,num2)
print(f"GCD of {num1} and {num2} is: {result}")

GCD of 48 and 18 is: 6

In [ ]:
def fun(x,y):
  if x==0:
    return y
  else:
    return fun(x-1,x*y)
print(fun(4,2))

48

In [ ]:
def fun(num):
  if(num==0):
    print("False")
  if num==1:
    print("True")
  if num%2==0:
    fun(num/2)
fun(256)

True

filter function

In [ ]:
def evnchck(n):
  return n%2==0
nmbrs=range(21,29)
evnlst=list(filter(evnchck,nmbrs)) # or list() or set() or tuple() or str()-> work on this
print(evnlst);

[22, 24, 26, 28]

map function

In [ ]:
def sqrt(x):
  return x**2
nmbrs=[1,2,3,4,5]
sqrlst= map(sqrt,nmbrs)
print(lis000t(sqrlst))

[1, 4, 9, 16, 25]

reduce function

In [ ]:
from functools import reduce
def add(x,y):
  return x+y
nmbrs=[1,2,3,4,5]
res=reduce(add,nmbrs)
print(res)

15

In [ ]:
from functools import reduce
def add(x,y):
  return x*y
nmbrs=[1,2,3,4,5]
res=reduce(add,nmbrs)
print(res)

120

In [ ]:
def count_alphabets_digits(str1):
  dct={'calpha':0,'cdigits':0}
  for char in str1:
    if char.isalpha():
      dct['calpha']+=1
    if char.isnumeric():
      dct['cdigits']+=1
  return dct
str1=input()
res=count_alphabets_digits(str1)
print(res)

2203a51535
{'calpha': 1, 'cdigits': 9}

a string is entered through keyboard . write a recursive function to count the number of vowels in the string

In [ ]:
def countvowels(str2):
  vowels='aeiouAEIOU'
  if len(str2)==0:
    return 0
  elif str2[0] in vowels:
    return 1+countvowels(str2[1:])
  else:
    return countvowels(str2[1:])
str2=input()
res=countvowels(str2)
print(res)

hello world
3

In [ ]:
def count_vowels(s, index=0, count=0):
    if index == len(s):
        return count
    if s[index].lower() in 'aeiou':
        count += 1
    return count_vowels(s, index + 1, count)
string = input( )
vowel_count = count_vowels(string)
print( vowel_count  )

jdfgwertrsadf
2

In [ ]:
def remove_tabs_using_translate(input_string):
    return input_string.translate(str.maketrans('', '', '\t'))

# Example
input_str = "Hello\tWorld"
print(remove_tabs_using_translate(input_str))

HelloWorld

decorative function and lambda function

In [ ]:
def fun(num):
  if num>100:
    return num-10
  return fun(fun(num+11))
print(fun(75))

91

# **DAY 7 - Modules, Packages, Exceptional Handling**

Module, package and exception handling

Module

In [ ]:
def nm():
  print('Name: ---')
def rno():
  print('Roll No.:---')

print(__name__)
nm()
rno()

__main__
Name: ---
Roll No.:---

In [ ]:
def nm():
  print('Name: ---')
def rno():
  print('Roll No.:---')
def main():
  nm()
  rno()
if __name__=='__main__':
  main()

Name: ---
Roll No.:---

Importing a module

In [ ]:
def nm():
  print('Name:Jasper')
def idd():
  print('ID No.:  1535')

In [ ]:
import employee
employee.nm()
employee.idd()

ModuleNotFoundError: No module named 'employee'

Math module

In [ ]:
import math
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [ ]:
import math
math.pi
math.e
math.factorial(5)
math.floor(1122.35)
math.gcd(50,90)

10

Importing the individual resurces

In [ ]:
from math import pi,e
print(pi)
print(e) # we cant import other than pi,e

3.141592653589793
2.718281828459045

time Module

In [ ]:
import time
dir(time)

['CLOCK_BOOTTIME',
 'CLOCK_MONOTONIC',
 'CLOCK_MONOTONIC_RAW',
 'CLOCK_PROCESS_CPUTIME_ID',
 'CLOCK_REALTIME',
 'CLOCK_TAI',
 'CLOCK_THREAD_CPUTIME_ID',
 '_STRUCT_TM_ITEMS',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'altzone',
 'asctime',
 'clock_getres',
 'clock_gettime',
 'clock_gettime_ns',
 'clock_settime',
 'clock_settime_ns',
 'ctime',
 'daylight',
 'get_clock_info',
 'gmtime',
 'localtime',
 'mktime',
 'monotonic',
 'monotonic_ns',
 'perf_counter',
 'perf_counter_ns',
 'process_time',
 'process_time_ns',
 'pthread_getcpuclockid',
 'sleep',
 'strftime',
 'strptime',
 'struct_time',
 'thread_time',
 'thread_time_ns',
 'time',
 'time_ns',
 'timezone',
 'tzname',
 'tzset']

In [ ]:
time.time()

1734928241.5997267

In [ ]:
time.altzone

0

In [ ]:
time.asctime()

'Mon Dec 23 04:31:48 2024'

In [ ]:
time.clock_getres

In [ ]:
time.clock_gettime

In [ ]:
time.daylight

0

In [ ]:
time.sleep(5)

In [ ]:
time.localtime()

time.struct_time(tm_year=2024, tm_mon=12, tm_mday=23, tm_hour=4, tm_min=36, tm_sec=17, tm_wday=0, tm_yday=358, tm_isdst=0)

In [ ]:
time.gmtime()

time.struct_time(tm_year=2024, tm_mon=12, tm_mday=23, tm_hour=4, tm_min=59, tm_sec=19, tm_wday=0, tm_yday=358, tm_isdst=0)

In [ ]:
t=time.localtime()
print(t.tm_mday,':',t.tm_mon,':',t.tm_year)
print(t.tm_mon)
print(t.tm_mday)
t1=time.asctime()
print(t1)#
print(t.tm_year,',',t1 [ 4:7],t.tm_mday )

23 : 12 : 2024
12
23
Mon Dec 23 04:58:13 2024
2024 , Dec 23

In [ ]:
print(time.strftime('%H:%M:%S'))

05:06:07

In [ ]:
import time
def trffcsgnl():
  print( "Red light - Stop!")
  time.sleep(10)
  print("Yellow light - Prepare to stop!")
  time.sleep(5)
  print("Green light - Go!")
for _ in range(3):
  trffcsgnl()

Red light - Stop!
Yellow light - Prepare to stop!
Green light - Go!
Red light - Stop!
Yellow light - Prepare to stop!
Green light - Go!
Red light - Stop!
Yellow light - Prepare to stop!
Green light - Go!

random Module

In [ ]:
import random
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_ONE',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_floor',
 '_index',
 '_inst',
 '_isfinite',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randbytes',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

In [ ]:
import random as rn
rn.random()

0.6139484321233536

In [ ]:
rn.choice('jasper')

'j'

In [ ]:
rn.choices('jasper',k=3)

['s', 'r', 'a']

In [ ]:
rn.randint(123,1234)

905

In [ ]:
lst=[11,22,33,44,55]
rn.shuffle(lst)
print(lst)

[44, 11, 22, 33, 55]

In [ ]:
rn.sample(lst,2)

[22, 11]

In [ ]:
rn.seed()

In [ ]:
import random
def adharnum(count=12):
  nums=[]
  for _ in range(count):
    randnums = random.randint(10**11, 10**12 - 1)
    nums.append(randnums)
  return nums
print( adharnum())

[762907389678, 703451093268, 555068306542, 214839527422, 622465805779, 966676157509, 726108710660, 580158930613, 497458517551, 847005452417, 374556282170, 867842745143]

Packages : folder must contain `__init__`.py file

Errors  
1. Syntax errors: poor understanding of the language
2. Logic errors: poor understanding of problem and its solution

Exceptions:


*   exceptions , are events that occur during execution of a program that disrupt the normal flow of the programs instructions.
*   Two type
1. Synchronous exceptions can be controlled by the program.
  * divide by zero, array index out of bound
2. Asynchronous exceptions are caused by events that are beyond the control of the program.
  * interrupt from the keyboard, hardware malfunction, or disk failure

In [ ]:
n=int(input("Enter numerator: "))
d=int(input("Enter denominator: "))
q=n/d
print("Quotient: ",q)

Enter numerator: 10
Enter denominator: 0

ZeroDivisionError: division by zero

In [ ]:
n=int(input("Enter numerator: "))
d=int(input("Enter denominator: "))
q=n/d
try:
  print("Quotient: ",q)
except ZeroDivisionError:
  print("Denominator cannot be ZERO. Exception Handled Successfully")

Enter numerator: 10
Enter denominator: 0

ZeroDivisionError: division by zero

In [ ]:
n=int(input("Enter numerator: "))
d=int(input("Enter denominator: "))
try:
  q=n/d
  print("Quotient: ",q)
except ZeroDivisionError:
  print("Denominator cannot be ZERO. Exception Handled Successfully")

Enter numerator: 123
Enter denominator: 0
Denominator cannot be ZERO. Exception Handled Successfully

In [ ]:
n=int(input("Enter numerator: "))
d=int(input("Enter denominator: "))
try:
  q=n/d
  print("Quotient: ",q)
except ZeroDivisionError:
  print("Denominator cannot be ZERO. Exception Handled Successfully")

Enter numerator: sdf3

ValueError: invalid literal for int() with base 10: 'sdf3'

In [ ]:

try:
  n=int(input("Enter numerator: "))
  d=int(input("Enter denominator: "))
  q=n/d
  print("Quotient: ",q)
except ZeroDivisionError:
  print("Denominator cannot be ZERO. Exception Handled Successfully")

Enter numerator: 10
Enter denominator: dsf

ValueError: invalid literal for int() with base 10: 'dsf'

In [ ]:

try:
  n=int(input("Enter numerator: "))
  d=int(input("Enter denominator: "))
  q=n/d
  print("Quotient: ",q)
except ZeroDivisionError:
  print("Denominator cannot be ZERO. Exception Handled Successfully")
except ValueError:
  print("Numerator and Denominator must be integers. Exception Handled Successfully")

Enter numerator: sdf
Numerator and Denominator must be integers. Exception Handled Successfully

Multiple Except Blocks

In [ ]:

try:
  n=int(input("Enter numerator: "))
  d=int(input("Enter denominator: "))
  q=n/d
  print("Quotient: ",q)
except ZeroDivisionError:
  print("Denominator cannot be ZERO. Exception Handled Successfully")
except ValueError:
  print("Numerator and Denominator must be integers. Exception Handled Successfully")

Enter numerator: dsf
Numerator and Denominator must be integers. Exception Handled Successfully

In [ ]:
str1='jasper'
try:
  print(str1[6] )
except IndexError:
  print("Index Error")

Index Error

Multiple except in a single block

In [ ]:
try:
  n=int(input("Enter numerator: "))
  d=int(input("Enter denominator: "))
  q=n/d
  print("Quotient: ",q)
except (ZeroDivisionError,ValueError):
  print("Denominator cannot be ZERO or Invalid Data Type. Exception Handled Successfully!")

Enter numerator: 13
Enter denominator: 0
Denominator cannot be ZERO or Invalid Data Type. Exception Handled Successfully!

except Block without Exception

In [ ]:
try:
  n=int(input("Enter numerator: "))
  d=int(input("Enter denominator: "))
  q=n/d
  print("Quotient: ",q)
except (ZeroDivisionError ):
  print("Denominator cannot be ZERO . Exception Handled Successfully!")
except :
  print('Unkown Error')

Enter numerator: 234df
Unkown Error

The else Clause
: This is optional

In [ ]:
try:
  n=int(input("Enter numerator: "))
  d=int(input("Enter denominator: "))
  q=n/d
  print("Quotient: ",q)
except (ZeroDivisionError,ValueError):
  print("Denominator cannot be ZERO or Invalid Data Type. Exception Handled Successfully!")
else:
  print('Succesfully Terminating..')

Enter numerator: 12
Enter denominator: 3
Quotient:  4.0
Succesfully Terminating..

Raising Exceptions

In [ ]:
n=int(input("Enter a number: "))
if n<0:
  raise Exception("Number cannot be negative")

Enter a number: -23

Exception: Number cannot be negative

finally Block: finnally block will be executed irrespective of whether an exception is handled or not

In [ ]:
try:
  print('raising an error')
  raise SyntaxError

finally:
  print('In finally block')

raising an error
In finally block

SyntaxError: None (<string>)

In [ ]:
try:
  print('raising an error')
  raise SyntaxError
except:
  print('Syntax Error')
finally:
  print('In finally block')

raising an error
Syntax Error
In finally block

### **Rock Paper Scissor Game Project using Python**

In [1]:
import random

class RockPaperScissors:
    def __init__(self):
        self.rounds = []  # stores game rounds
        self.p_score = 0
        self.c_score = 0

    def add_round(self, player_choice, computer_choice, result):
        self.rounds.append({
            "round": len(self.rounds) + 1,
            "player_choice": player_choice,
            "computer_choice": computer_choice,
            "result": result
        })

    def display_rounds(self):
        if not self.rounds:
            print("No rounds played yet.")
            return
        for round in self.rounds:
            print(f"Round {round['round']}: Player - {round['player_choice']}, "
                  f"Computer - {round['computer_choice']}, Result - {round['result']}")

    def display_scores(self):
        print(f"Player Score: {self.p_score}, Computer Score: {self.c_score}")

    def determine_winner(self, player_choice, computer_choice):
        opts = ['Rock', 'Paper', 'Scissors']
        p_ch = opts.index(player_choice) + 1

        if (p_ch == 1 and computer_choice == 'Scissors') or \
           (p_ch == 2 and computer_choice == 'Rock') or \
           (p_ch == 3 and computer_choice == 'Paper'):
            return "Player Wins"
        elif player_choice == computer_choice:
            return "Tie"
        else:
            return "Computer Wins"

    def update_round(self, round_number):
        # First, find the round
        round_to_update = None
        for round in self.rounds:
            if round['round'] == round_number:
                round_to_update = round
                break

        if not round_to_update:
            print("Round not found.")
            return

        # Store old result to adjust scores
        old_result = round_to_update['result']

        # Reverse the previous score
        if old_result == "Player Wins":
            self.p_score -= 1
        elif old_result == "Computer Wins":
            self.c_score -= 1

        # Get new choices
        opts = ['Rock', 'Paper', 'Scissors']
        try:
            print("\nUpdating Round", round_number)
            p_ch = int(input('Enter your choice (1. Rock, 2. Paper, 3. Scissors): '))
            if p_ch not in [1, 2, 3]:
                raise ValueError
        except ValueError:
            print("Invalid input. Please enter a number between 1 and 3.")
            return

        player_choice = opts[p_ch - 1]
        computer_choice = random.choice(opts)

        print(f"Your choice: {player_choice}")
        print(f"Computer's choice: {computer_choice}")

        # Determine new result
        result = self.determine_winner(player_choice, computer_choice)

        # Update scores based on new result
        if result == "Player Wins":
            self.p_score += 1
        elif result == "Computer Wins":
            self.c_score += 1

        # Update the round
        round_to_update['player_choice'] = player_choice
        round_to_update['computer_choice'] = computer_choice
        round_to_update['result'] = result

        print(f"Round {round_number} updated with new result: {result}")
        self.display_scores()

    def delete_round(self, round_number):
        for round in self.rounds:
            if round['round'] == round_number:
                if round['result'] == "Player Wins":
                    self.p_score -= 1
                elif round['result'] == "Computer Wins":
                    self.c_score -= 1
        self.rounds = [round for round in self.rounds if round['round'] != round_number]
        print(f"Round {round_number} deleted.")

    def reset_game(self):
        self.rounds.clear()
        self.p_score = 0
        self.c_score = 0
        print("Game reset.")

    def play_round(self):
        opts = ['Rock', 'Paper', 'Scissors']

        try:
            p_ch = int(input('Enter your choice (1. Rock, 2. Paper, 3. Scissors): '))
            if p_ch not in [1, 2, 3]:
                raise ValueError
        except ValueError:
            print("Invalid input. Please enter a number between 1 and 3.")
            return

        player_choice = opts[p_ch - 1]
        computer_choice = random.choice(opts)

        print(f"Your choice: {player_choice}")
        print(f"Computer's choice: {computer_choice}")

        result = self.determine_winner(player_choice, computer_choice)

        if result == "Player Wins":
            self.p_score += 1
        elif result == "Computer Wins":
            self.c_score += 1

        print(f"Result: {result}")
        self.add_round(player_choice, computer_choice, result)

game = RockPaperScissors()

while True:
    print("\n1. Play Round\n2. Display Rounds\n3. Display Scores\n4. Update Round\n5. Delete Round\n6. Reset Game\n7. Exit")
    choice = input("Enter your choice: ").strip()

    if choice == '1':
        game.play_round()
    elif choice == '2':
        game.display_rounds()
    elif choice == '3':
        game.display_scores()
    elif choice == '4':
        try:
            round_number = int(input("Enter the round number to update: "))
            game.update_round(round_number)
        except ValueError:
            print("Invalid round number")
    elif choice == '5':
        try:
            round_number = int(input("Enter the round number to delete: "))
            game.delete_round(round_number)
        except ValueError:
            print("Invalid round number")
    elif choice == '6':
        game.reset_game()
    elif choice == '7':
        print("Exiting the game.")
        break
    else:
        print("Invalid choice. Please try again.")

1. Play Round
2. Display Rounds
3. Display Scores
4. Update Round
5. Delete Round
6. Reset Game
7. Exit
Enter your choice: 7
Exiting the game.

# **Assessment Practice**

In [ ]:
def divide(x,y):
  try:
    return x/y
  except ZeroDivisionError:
    return "Error"
  finally:
    print('finally block')
print(divide(10,0))

finally block
Error

In [ ]:
def memoizedfib(n,memo={}):
  if n in memo:
    return memo[n]
  if n<=1:
    return n
  memo[n]=memoizedfib(n-1,memo)+memoizedfib(n-2,memo)
  return memo[n]
print(memoizedfib(8))

21

In [ ]:
import random
try:
  weights=[0.3,0.5 ]
  result=random.choices(population=[1,2,3],weights=weights,k=5)
  print(result)
except Exception as e:
  print(f"Error: {e}")

[1, 2, 2, 2, 1]

In [ ]:
try:
  x=1/0
except (ZeroDivisionError,TypeError):
  print('Error')

Error

In [ ]:
import random
try:
  result=random.choices([],k=3)
except IndexError as e:
  print(f"Index error: {e}")
except ValueError as e:
  print(f"Value error: {e}")
except Exception as e:
  print(f"Error: {e}")

Index error: list index out of range

In [ ]:
import math
try:
  result=math.sqrt(-1)
except ValueError as e:
  print(f"Value error: {e}")
except Exception as e:
  print(f"Error: {e}")

Value error: math domain error

In [ ]:
import math
try:
  print(math.factorial(10.5))
except ValueError as e:
  print(f"Value error: {e}")
except TypeError as e:
  print(f"Type Error: {e}")

Type Error: 'float' object cannot be interpreted as an integer